body{
  margin: 0;
  padding: 0;
  background-color: #F16808 !important;
}

@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


.ui.card{
  margin: auto !important;
  width: 80% !important;
}

h1, button, h2, label, input{
  font-family: 'Fredoka One', cursive !important;
}

h2, .header{
  text-transform: capitalize !important;
}

.ui.button.primary{
  background-color: #2F2D78 !important;
}